*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:60px 20px;
}

.profile-pic{
    width:150px;
    height:150px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}
section{
    padding:50px 20px;
    text-align:center;
}

#skills ul{
    list-style:none;
}

#skills li{
    display:inline-block;
    background:#e5e7eb;
    padding:10px 15px;
    margin:8px;
    border-radius:20px;
}